
<form action="Contact">
    <h1>Contact Us</h1>
    <div  class="form">
        <label for="name">NAME</label>
        <input type="text" id="name" placeholder="Jiara Martins">
    </div>
    <div class="form">
        <label for="email">EMAIL</label>
        <input type="text" id="email" placeholder="hello@reallygreatsite.com">
    </div>
    <div class="form">
        <label for="msg">MESSAGE</label>
        <textarea name="msg" id="msg" cols="30" rows="3" placeholder="Write your message here"></textarea>
    </div>
    <button type="submit">Send the message</button>
</form>
